/**
 * Site body
 */
.site-body {
  border-top: 8px solid $background-color;
}


/**
 * Site header
 */
 .site-header {
  border-top: 1px solid $grey-color-dark;
  border-bottom: 1px solid $grey-color-dark;
  min-height: $spacing-unit * 2;
  background-image: $header-footer-background-image;
  text-shadow: $header-footer-text-shadow;

  // Positioning context for the mobile navigation icon
  position: relative;
}

.site-title {
  @include relative-font-size(2.5);
  font-weight: 700;
  line-height: $base-line-height * $base-font-size * 2.25;
  letter-spacing: 1px;
  margin-bottom: 0;
  float: left;
  font-variant: $brand-font-variant;

  &,
  &:visited {
    color: $header-font-color;
  }
  &:hover {
    text-decoration: none;
    color: $color-highlight;
  }
}

.site-nav {
  float: right;
  line-height: $base-line-height * $base-font-size * 2.25;

  .nav-trigger {
      display: none;
  }

  .menu-icon {
    display: none;
  }

  .page-link {
    color: $header-footer-font-color;
    line-height: $base-line-height;
    font-weight: bold;
    &,
    &:visited {
      color: $header-font-color;
    }
    &:hover {
      text-decoration: none;
      color: $color-highlight;
    }
  
    // Gaps between nav items, but not on the last one
    &:not(:last-child) {
      margin-right: 20px;
    }
  }

  @include media-query($on-palm) {
    position: absolute;
    top: 9px;
    right: $spacing-unit / 2;
    background-color: $background-color;
    border: 1px solid $grey-color-light;
    border-radius: 5px;
    text-align: right;

    label[for="nav-trigger"] {
      display: block;
      float: right;
      width: 36px;
      height: 36px;
      z-index: 2;
      cursor: pointer;
    }

    .menu-icon {
      display: block;
      float: right;
      width: 36px;
      height: 26px;
      line-height: 0;
      padding-top: 10px;
      text-align: center;

      > svg {
        fill: $grey-color-dark;
      }
    }

    input ~ .trigger {
      clear: both;
      display: none;
    }

    input:checked ~ .trigger {
      display: block;
      padding-bottom: 5px;
    }

    .page-link {
      display: block;
      padding: 5px 10px;

      &:not(:last-child) {
        margin-right: 0;
      }
      margin-left: 20px;
    }
  }
}



/**
 * Site footer
 */
.site-footer {
  border-top: 1px solid $grey-color-dark;
  padding: $spacing-unit / 4 0;
  background-image: $header-footer-background-image;
  color: $header-footer-font-color;
  text-shadow: $header-footer-text-shadow;
  a {
    color: $header-footer-font-color;
  
    &,
    &:visited {
      color: $header-footer-font-color;
    }
  
    &:hover {
      text-decoration: none;
      color: $color-highlight;
      font-weight: bold;
    }
  }
  }

.footer-heading {
  @include relative-font-size(1.125);
  margin-bottom: $spacing-unit / 4;
  font-variant: $brand-font-variant;
  font-weight: bold;
}

.contact-list,
.social-media-list {
  list-style: none;
  margin-left: 0;
}

.footer-col-wrapper {
  @include relative-font-size(0.9375);
  margin-left: -$spacing-unit / 2;
  @extend %clearfix;
  * {
    margin-bottom: 5px;
  }  
}

.footer-col {
  float: left;
  //margin-bottom: $spacing-unit / 2;
  padding-left: $spacing-unit / 2;
}

.footer-col-1 {
  width: -webkit-calc(20% - (#{$spacing-unit} / 2));
  width:         calc(20% - (#{$spacing-unit} / 2));
}

.footer-col-2 {
  width: -webkit-calc(30% - (#{$spacing-unit} / 2));
  width:         calc(30% - (#{$spacing-unit} / 2));
}

.footer-col-3 {
  width: -webkit-calc(50% - (#{$spacing-unit} / 2));
  width:         calc(50% - (#{$spacing-unit} / 2));
  font-style: italic;
}

@include media-query($on-laptop) {
  .footer-col-1,
  .footer-col-2 {
    width: -webkit-calc(50% - (#{$spacing-unit} / 2));
    width:         calc(50% - (#{$spacing-unit} / 2));
  }

  .footer-col-3 {
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}

@include media-query($on-palm) {
  .footer-col {
    float: none;
    width: -webkit-calc(100% - (#{$spacing-unit} / 2));
    width:         calc(100% - (#{$spacing-unit} / 2));
  }
}



/**
 * Home
 */
.home {
  text-align: center;
  p {
    margin: 0 15%;
    text-align: justify;
  }
}

.site-body h1 {
  @include relative-font-size(2);
  font-weight: 600;
  $contour-color: $grey-color-dark;
  text-shadow: -1px 0 $contour-color, 0 1px $contour-color, 1px 0 $contour-color, 0 -1px $contour-color,
  2px 2px 0.3em black, 2px 2px 1em $color2, 4px 4px 0.2em black;
  color: $header-footer-font-color;
  font-variant: small-caps;
}

.course-description {
  background-color: white;
  padding: 10px 20px;
  margin: $spacing-unit/2 $spacing-unit;
  border: 1px solid $grey-color;
  border-radius: 10px;
}


 /**
 * Page content
 */
.page-content {
  padding: $spacing-unit 0;
  flex: 1;
}

.page-heading {
  @include relative-font-size(2);
}

.post-list-heading {
  @include relative-font-size(1.75);
}

.post-list {
  margin-left: 0;
  list-style: none;

  > li {
    margin-bottom: $spacing-unit;
  }
}

.post-meta {
  font-size: $small-font-size;
  color: $grey-color;
}

.post-link {
  display: block;
  @include relative-font-size(1.5);
}



/**
 * Posts
 */
.post-header {
  margin-bottom: $spacing-unit;
}

.post-title {
  @include relative-font-size(2.625);
  letter-spacing: -1px;
  line-height: 1;

  @include media-query($on-laptop) {
    @include relative-font-size(2.25);
  }
}

.post-content {
  margin-bottom: $spacing-unit;

  h2 {
    @include relative-font-size(2);

    @include media-query($on-laptop) {
      @include relative-font-size(1.75);
    }
  }

  h3 {
    @include relative-font-size(1.625);

    @include media-query($on-laptop) {
      @include relative-font-size(1.375);
    }
  }

  h4 {
    @include relative-font-size(1.25);

    @include media-query($on-laptop) {
      @include relative-font-size(1.125);
    }
  }
}

/**
 * Courses
 */
.course-list {
  li {
    margin-top: $spacing-unit;
    margin-bottom: $spacing-unit / 2;
    margin-right: $spacing-unit;
    display: inline-block;
    padding: 7px 20px;
    border-radius: 8px;
    border: 1px solid $grey-color-dark;
    position: relative;
    background-color: $color2;
    //text-shadow: $header-footer-text-shadow;
    box-shadow: $header-footer-text-shadow;
    &:hover, &:hover * {
      background-color: $color-button-highlight;
      color: $grey-color-dark;
    }
  a {
    color: white;
    font-weight: bold;
      &:hover {
        text-decoration: none;
        color: $grey-color-dark;
      }
    }
  }
}